{% extends "base.html" %}
{% load static %}
{% block content %}
{% load rating_tags %}


<!-- index.html content starts here -->

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for funfacts in funfacts_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in funfacts.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/film-reel.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src="{{ funfacts.featured_image.url }}" alt="{{ funfacts.title }}">
                                {% endif %} 
                            </div>
                            <a href="{% url 'funfacts' %}" class="post-link">
                                <h2 class="funfacts-title">{{ funfacts.title }}</h2>
                            </a>
                            <div class="funfacts-card-body">
                                <p class="card-text">{{ funfacts.content | safe }}</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}Copyright 2023 Malin Sjögren - Student Project at Code Institute{% endblock %}